/* Remise à zero */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
   font-family: 'Raleway' , sans-serif;
    margin: auto;
}

/* fin de la remise a zero */

/* Parametres generaux lien et liste à puce */
a
{
    text-decoration: none;
}
a:hover
{
    transform: scale(1);
    transition: .3s;
}
ul
{
  list-style-type: none;
}

/*### Header + Nav ###*/

.nav li
{
 display: inline;
} 
header img
{
    padding: 5px 0 0 5px;
    width: 20%;
}
.header-hebergements
{
    color: #0065FC;
    font-weight: 900;
}
.header-hebergements a:visited
{
    color: #0065FC;
}
.header-activites
{
    color:black;
    font-weight: 900;
}
.header-activites a:visited
{
    color: black;
}
.header-inscription1
{
    color: #0065FC;
    font-weight: 900;
}
.header-inscription2
{
    color: #0065FC;
    font-weight: 900;
}
.header-inscription1 a:visited
{
    color: #0065FC;
}
.header-inscription2 a:visited
{
    color: #0065FC;
}


/* Texte trouvez votre hebergement en centre ville */
.texte1
{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    
    padding-top: 35px;
   
}
.texte2
{
    
    text-align: center;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 10px;
    
}
/* Partie recherche */
#recherche
{
    display: flex;
    justify-content: center;
    max-width:420px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.recherche-position
{
    background-color:#F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 50px; 
    padding: 17px 0 0 20px;;

   
}
input::-webkit-input-placeholder
{
    color: black;
    background-color: white;
    padding: 12px;
    font-weight: 900;
    font-family: 'Raleway';
}
.recherche-lieu
{
    
    font-size: 1.5em;
    width:60%;
    border-bottom : 2px solid #F2F2F2;
    border-top:   2px solid #F2F2F2;
    border-right: 0 solid white;
    border-left: 0 solid white;
}
.recherche-search1
{
    color: white;
    background-color: #0065FC;
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    width: 50px; 
}
.recherche-search2
{
    color: white;
    background-color: #0065FC;
    font-size: 1.3em;
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 135px; 
}
/* fin de la partie recherche */
/* Filtre de recherche */
.filtres-title
{
    margin-left: 10px;
}
#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px 20px;
    
}

.filtres-categorie
{
    display: flex;
    align-items: center;
    border:2px solid #F2F2F2;
    border-radius: 50px;
    height: 50px;
    margin: 6px 2px;
    padding: 0;
    
}
.filtres-icone
{
    background-color:#DEEBFF;
    display: flex;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    color: #0065FC;
}
.filtres-texte
{
    padding: 0 15px 0 15px;
}

/* Fin des filtres */

/*### info +de 500 logements ###*/
#info
{
    display: flex;
    justify-content: space-around;
    margin: 15px 10px 40px 10px;
    
}
.icone-info
{
    color:   #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 4px 7px 7px 10px;
    margin-right: 10px;
}

/*### hotel populaires ###*/

.populaires
{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 25px 0;
}
.populaires p
{
    margin-right: 70px
}
.populaires i
{
    margin: 3px 0 0 70px;
    font-size: 1.3em;
}
#hotel1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F2F2F2;
    height: 580px;
    width: 100%;
    /* max-width:400px; */
    padding-bottom: 25px;

    
}
#hotel1 p
{
    font-size:1.17em ;
    font-weight: 900;
    
        
}
.carte-hotel1
{
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #c2bfbf;
    margin: 0 5% 10px 5%;
    height: 145px;
    width:335px;
   
    
    
}
.carte-hotel1 img
{
    object-fit: cover;
    height: 135px;
    width: 127px;
    margin: 5px 0px 5px 5px;
    border-radius: 25px 0 0 25px;
    float:left;
}
.carte-hotel1 h3
{
   margin: 5% 10% 0% 43%;
   color: black;
}
.carte-hotel1 h4
{
    margin: 2% 5% 6% 43%;
    color: black;
    font-weight: 100;
    font-size: 0.98em;
}
.carte-hotel1 li
{
    display: inline;
    color:#0065FC;
    font-size: 0.7em;
    
}
.carte-hotel1 ul
{
    margin-left: 43% ;

}
/*## Hotel à Marseille ##*/
.texte1-hotel2
{
    font-size:1.17em ;
    font-weight: 900;
    align-items: left;
    margin: 40px 75px 30px 5%; 
}
.texte2-hotel2
{
    font-size:1.17em ;
    font-weight: 900;
    align-items: left;
    margin: 40px 75px 30px 5%; 
}
#hotel2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
     
}

.carte-hotel2
{
    background-color: white;
    height: 200px;
    width: 335px;
    border-radius: 30px;
    box-shadow: 1px 1px 30px #c2bfbf;
    margin: 5px 5% 5px 5%;
    
}
.carte-hotel2 img
{
    object-fit: cover;
    height: 115px;
    width: 325px;
    border-radius:23px 23px 0 0;
    margin: 5px 0 0 5px;;
 
}
.carte-hotel2 h3
{
   margin: 0 5% 0 5%;
   color: black;
}
.carte-hotel2 h4
{
    margin: 1% 5% 0 5%;
    color: black;
    font-weight: 100;
    font-size: 0.98em;
}
.carte-hotel2 li
{
    display: inline;
    color:#0065FC;
    font-size: 0.7em;
}
.carte-hotel2 ul
{
    margin:0 5% 2% 5%;
}
.afficherplus1
{
    font-size:1.17em ;
    font-weight: 900;
    
    margin: 36px 75px 60px 20px;
}
.afficherplus2
{
    font-size:1.17em ;
    font-weight: 900;
    align-items: center;
    margin: 0 75px 60px 10%;
} 
/*### activites à Marseille ###*/

#activites-Marseille
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom:50px;
}
.texte-activites
{
    font-size:1.17em ;
    font-weight: 900;
    margin: 0 0 7px 5%; 
    vertical-align: auto;
}

.activite
{
    height:190px;
    width: 335px;
    box-shadow: 1px 1px 30px #c2bfbf;
    border-radius: 25px;
    margin: 25px 5% 0 5%;
}
.activite img
{
    object-fit: cover;
    height: 135px;
    width: 335px;
    border-radius: 25px 25px 0 0;
    
    
}
.activite h3
{
   margin: 3% 0 0 6%;
   color: black;
}


/*### Bas de page Footer 3 elements ###*/

footer
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:#F2F2F2;
    color: black;
    line-height: 160%;
    font-size: 130%;
    height: 485px;
    padding-bottom:50px;
    padding-left:33px;
    padding-top:50px;
}

footer p
{
    font-size:1.17em ;
    font-weight: 900;
    line-height: 180%;
}
.bloc-footer a:visited
{
    color: black;
}
.bloc-footer a
{
    color: black;
}

            /* ############################# */
            /* ###   Responsive       ###### */
            /* ### Format Telephone   ###### */
            /* ############################# */
@media all and (max-device-width: 767px)
{
    /*### Header Nav Telephone ###*/
    header
    {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .header-inscription1
    {
    padding: 5% 5% 0 0;
    }
    .header-inscription2
    {
    display:none ;
    }
    nav
    {
    display:flex;
    justify-content: space-around;
    width: 100%;
    }
    .recherche-search2
    {
        display:none;
    }
    .header-hebergements
    {
    border-bottom: 3px solid  #0065FC;
    padding-bottom:10px;
    width: 50%;    
    }
    .header-activites
    {
    border-bottom: 3px solid #F2F2F2;
    padding-bottom:10px;
    width: 50%;   
            
    }
    nav ul
    {
        display: flex;
        align-content: stretch;
        padding-top:5%;
        width: 100%;
        
    }
    .texte2-hotel2
    {
        display:none; 
    }
    .afficherplus2
    {
        display:none;
    }
    
    /*### Header Nav Telephone ### Fin ###*/
} 

                    /* ############################# */
                    /* ####  Responsive       ###### */
                    /* ####  Format tablette  ###### */
                    /* ############################# */

@media all and (min-device-width: 768px)
{
    header
    {
        display: flex;
        justify-content: space-around;
    }   
     .header-inscription1
    {
    display:none ;
    }
    .header-hebergements
    {
    border-top: 5px solid  #0065FC;

    }
    .header-activites
    {
    border-top: 5px solid #F2F2F2;
    }
    nav ul 
    {
        margin-top: 2px;
    }
    .recherche-search1
    {
        display:none;
    }
    #recherche
    {
        margin-left: 55px;
    }
    /* ### Hotel à Marseille ### */
    .texte2-hotel2
    {
        display:none; 
    }
    #hotel2
    {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: white;
    align-items: center;
    }
    .carte-hotel2{
    background-color: white;
    height: 200px;
    width: 335px;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #c2bfbf;
    margin: 0% 2% 5% 2%;
    }
    .afficherplus1
    {
        display:none;
    }
    .afficherplus2
    {
        display:center;
    }

    
    /* ### Activités à Marseille ###*/
    #activites-Marseille
    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    }

    .activite
    {
    height:190px;
    width: 335px;
    box-shadow: 1px 1px 30px #c2bfbf;
    border-radius: 25px;
    margin: 2% 2% 0 2%;
    }

    
    #hotel1 p
    {
        margin: 5px 20% 5px 20%;
    }
footer
    {
        justify-content: space-between;
        flex-direction: row;
        background-color:#F2F2F2;
        padding: 50px 370px 55px 50px;
        height: 218px;
        
    }

}
                        /* ################################ */
                        /* ####  Responsive          ###### */
                        /* ####  Format desktop 1024 ###### */
                        /* ################################ */
@media all and (min-device-width: 1024px)
{

    #corps
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        justify-content: center;
    }

    #hotel1
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#F2F2F2;
        height: 625px;
        width: 420px;
        padding-top:45px;
        padding-bottom:35px;
        border-radius: 30px;
        margin: 0 0 0 2%;
        
    }
    .carte-hotel1
    {
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #c2bfbf;
    margin: 0 5% 5px 5%;
    height: 145px;
    width:345px;
    }
    .texte1-hotel2
    {
        display:none; 
    }
    .texte2-hotel2{
        display: inline;
    }
    #hotel2
    {
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        height: 625px;
        width: 880px;
        border-radius: 30px;
    }
    #hotel2 p
    {
    font-size:1.17em ;
    font-weight: 900;
    margin: 0 20% 5px 25%; 
    
    }
    .carte-hotel2
    {
        background-color: white;
        height: 200px;
        width: 245px;
        border-radius: 30px;
        box-shadow: 1px 1px 30px #c2bfbf;
        /* margin: 0% 5% 5% 5%; */
        
    }
    .carte-hotel2 img
    {
        object-fit: cover;
        height: 115px;
        width: 235px;
        border-radius:23px 23px 0 0;
        margin: 5px 0 0 5px;
     
    }
    #activites-Marseille
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: white;
    }
    footer
    {
        justify-content: space-between;
        flex-direction: row;
        background-color:#F2F2F2;
        padding: 50px 370px 55px 50px;
        height: 218px;
        
    }
}
            /* ################################ */
            /* ####  Responsive          ###### */
            /* ####  Format desktop 1440 ###### */
            /* ################################ */
@media all and (min-device-width: 1024px)
{
    footer
    {
        justify-content: space-between;
        flex-direction: row;
        background-color:#F2F2F2;
        padding: 50px 370px 55px 50px;
        height: 218px;
                
    }
        

}