/* Remise à zero */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
   font-family: 'Raleway' , sans-serif;
    margin: auto;
}
body
{
    background:
    linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url (iPhone 8 - 1.png) no-repeat top center;

}
/* fin de la remise a zero */

/* Parametres generaux lien et liste à puce */
a
{
    text-decoration: none;
}
a:hover
{
    transform: scale(1);
    transition: .3s;
    
}
ul
{
  list-style-type: none;
}


/* Header + Nav */
header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.navigation
{
    display: flex;
    
}

header img
{
    padding: 5% 0 0 5%;
    width: 35%;
    
}
nav a:visited
{
    color: #0065FC;
}
.header-hebergements
{
    border-bottom: 2px solid  #0065FC;
}
.header-activites
{
    color:black;
    border-bottom: 2px solid #F2F2F2;
}
.header-activites a:visited
{
    color: black;
}

/* Texte trouvez votre hebergement en centre ville */
.texte1
{
    text-align: center;
    height: 2.85%;
    padding-left: 3%;
    padding-top: 35px;
   
}
.texte2
{
    
    text-align: center;
    height: 2.85%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    
}
/* Partie recherche */
#recherche
{
    display: flex;
    justify-content: center;
}
.recherche-position
{
    background-color:#F2F2F2;
    border-radius: 10px 0 0 10px; 
    padding: 2% 2% 2% 2%;

   
}
input::-webkit-input-placeholder
{
    color: black;
    padding: 12px;
    
}
.recherche-lieu
{
    font-size: 1.5em;
    width:60%;
        
}
.recherche-search
{
    color: white;
    background-color: #0065FC;
    border-radius: 10px 10px 10px 10px;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}
/* fin de la partie recherche */
/* Filtre de recherche */
#filtres
{
    display: flex;
    flex-wrap: wrap;
}
.filtres-title
{
    display: flex;
    align-items: center;
}
.filtres-categorie
{
    display: flex;
    align-items: center;
    border:2px solid #F2F2F2;
    border-radius: 50px;
    margin: 2px 2px;
    padding: 0;
    
}
.filtres-icone
{
    background-color:#DEEBFF;
    display: flex;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    color: #0065FC;
}


/* Fin des filtres */

/* info +de 500 logements */
#info
{
    display: flex;
    justify-content: space-around;
    
    
}
.icone-info
{
    color:   #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 4px 7px 7px 10px;
}

/* hotel populaires */
p
{
    font-size:1.17em ;
    font-weight: 900;
}
#hotel1
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    height: 580px;
    padding-top:90px;
    padding-bottom:35px;
    
}
.carte-hotel1
{
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 15px #c2bfbf;
    margin: 0 3% 5px 3%;
    height: 145px;
    
   
    
    
}
.carte-hotel1 img
{
    object-fit: cover;
    height: 135px;
    width: 38%;
    padding: 6px 0px 6px 6px;
    border-radius: 25px 0 0 25px;
    float:left;
}
.carte-hotel1 h3
{
   margin: 5% 10% 0% 42%;
   color: black;
}
.carte-hotel1 p
{
    margin: 2% 5% 6% 42%;
    color: black;
    font-weight: 100;
    font-size: 0.98em;
}
.carte-hotel1 li
{
    display: inline;
    color:#0065FC;
    font-size: 0.7em;
    
}
.carte-hotel1 ul
{
    margin-left: 42% ;

}
Hotel à Marseille
#hotel2
{
    display: flex;
    flex-direction: column;
    background-color: white;
    
     
}
.carte-hotel2
{
    background-color: white;
    height: 200px;
    width: 335px;
    border-radius: 25px;
    box-shadow: 1px 1px 30px #c2bfbf;
    margin: 0% 5% 5% 5%;
    align-items: center;
}
.carte-hotel2 img
{
    object-fit: cover;
    height: 115px;
    width: 325px;
    border-radius:25px 25px 0 0;
    margin: 5px 0 0 5px;;
 
}
.carte-hotel2 h3
{
   margin: 0 5% 0 5%;
   color: black;
}
.carte-hotel2 p
{
    margin: 1% 5% 0 5%;
    color: black;
    font-weight: 100;
    font-size: 0.98em;
}
.carte-hotel2 li
{
    display: inline;
    color:#0065FC;
    font-size: 0.7em;
}
.carte-hotel2 ul
{
    margin:0 5% 2% 5%;
}
  
/* activites à Marseille */
#activites-Marseille
{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.activite
{
    height:190px;
    width: 335px;
    box-shadow: 1px 1px 30px #c2bfbf;
    border-radius: 25px;
    margin: 2% 5% 0 5%;
}
.activite img
{
    object-fit: cover;
    height: 135px;
    width: 335px;
    border-radius: 25px 25px 0 0;
    
    
}
.activite h3
{
   margin: 3% 0 0 6%;
   color: black;
}
.activite p
{
    margin: 5% 5% 5% 5%;
    color: black;
}

/* Bas de page Footer 3 elements */

footer
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:#F2F2F2;
    color: black;
    line-height: 200%;
    font-size: 130%;
    padding: 5% 0 5% 0;
    padding-left: 5%;
}
.bloc-footer a:visited
{
    color: black;
}
.bloc-footer a
{
    color: black;
}
/* ############################# */
/* ######Responsive############# */
/* Format au dela de la tablette */
@media all and (min-device-width: 770px)
{
    .navigation li
   {
        display: inline;
   } 
}